section{
    color: #FFFFFF;
    padding: 2em 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

section:nth-child(odd){
    background-color: #011627;
}

section:nth-child(even){
    background-color: #001E36; 
}